sudo: required
dist: trusty

language: haxe

os:
  - linux
  - osx

haxe:
  #- "3.2.1"
  - development

env:
    matrix:
    #- TARGET=interp
    #- TARGET=cpp
    #- TARGET=cs
    #- TARGET=java
    #- TARGET=neko
#    - TARGET=flash
#    - TARGET=js
    #- TARGET=node
    #- TARGET=php
    #- TARGET=python
    - TARGET=lua

# matrix:
#   allow_failures:
#     - haxe: development

install:
  - haxelib dev hxease .
  - haxelib git hxmake https://github.com/eliasku/hxmake.git
  - haxelib run hxmake _

script:
  - hxmake test -test=${TARGET}
#  - haxe test.hxml